---
import Section from "./Section.astro";
import type { PresentationProps } from "../types";

interface Props {
  presentations: PresentationProps[];
}

const { presentations } = Astro.props;
---

<Section text="Research Presentations" href="presentations">
  {
    presentations.map((presentation) => (
      <div class="mb-10">
        <h3 class="mb-1.5 font-serif text-2xl font-semibold text-white">
          {presentation.title}
        </h3>
        <div class="flex flex-col items-start pb-5">
          <h4 class="mb-0.5 font-serif text-2xl font-medium text-primary">
            {presentation.authors}
          </h4>
          <span class="pb-[2px] text-sm text-white/70">
            {presentation.event} — {presentation.date}
          </span>
          <p class="text-gray-300">{presentation.location}</p>
        </div>
      </div>
    ))
  }
</Section> 